body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  font-family: 'Pathway Gothic One', sans-serif;
}
@keyframes move-twink-back {
  from { background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
.stars, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
widows: 100vw;;
height:100vh;
display:block;
}
.stars {
background:#000 url("../images/stars.png") repeat top center;
z-index:0;
}
.twinkling{
background:transparent url("../images/twinkling.png") repeat top center;
z-index:1;
-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
.head{
  text-align: center;
}
@keyframes textfade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}
@keyframes resize {
  0% {
    transform: scale(2);
  }
  100% { 
    transform: scale(0.5);
  }
}
.intro, .intro2{
  position: absolute;
  justify-content: center;
  font-weight: bold;
  top: -120px;
  font-size: 0.6em;
  opacity: 0;
  line-height: 1.2em;
  color: blue;
}
.intro {
  animation: textfade ease;
  animation-duration: 5s;
}
.intro2 {
  animation: textfade ease;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: 1;
}
.intro2 img{
  animation: resize ease;
  margin: 0;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: 1;
}
  
.wrapper {
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: #feda4a;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 1.5em;
  text-align: justify;
}
.container {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
}

@keyframes infiscroll {
  0% {
    opacity: 1;
    top: 0;
    transform: rotateX(20deg)       translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
.container {
  opacity: 0;
  position: relative;
  transform-origin: 50% 100%;
  animation: infiscroll 60s linear;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}
.darkness {
  position: relative;
  width: 100vw;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
